{% extends 'base.html.twig' %}

{% block title %}Accueil - UGSEL Web{% endblock %}

{% block body %}
    <div class="container mt-4 text-center">
        <h1 class="mb-3">Bienvenue dans UGSEL Web</h1>
        <h2 class="mb-4">L'espace d'inscription aux compétitions Ugsel</h2>
        <p>Accédez à l'UGSEL Régionale de votre choix en cliquant sur son nom...</p>
        
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    {% for region in regions[:(regions|length // 2)] %}
                        <li>
                            <a href="{{ path('app_region_show', {'id': region.id}) }}" class="text-decoration-none">
                                <img src="../../images/logoun.gif" alt="UGSEL logo" class="me-2" width="20" height="20"> 
                                {{ region.libelle }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    {% for region in regions[(regions|length // 2):] %}
                        <li>
                            <a href="{{ path('app_region_show', {'id': region.id}) }}" class="text-decoration-none">
                                <img src="../../images/logoun.gif" alt="UGSEL logo" class="me-2" width="20" height="20"> 
                                {{ region.libelle }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
